Repository gus-c-oliveira/social-posts-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ./node_modules/.bin/eslint --ext .ts, stylelint

.lintstagedrc:

{
	"*.{json,md,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
    "prettier --write",
		"git add",
    "./node_modules/.bin/eslint --ext .ts"
  ],
	"*.scss": [
		"stylelint"
	]
}

user-shell: scroll to top when visiting friend profile
  libs/user-shell/src/lib/components/post/user-post.component.ts
Due: prettier --write, ./node_modules/.bin/eslint --ext .ts

repository: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

auth: create lib
  angular.json
  libs/auth/.eslintrc.json
  libs/auth/README.md
  libs/auth/jest.config.js
  libs/auth/src/index.ts
  libs/auth/src/lib/auth.module.ts
  libs/auth/src/test-setup.ts
  libs/auth/tsconfig.json
  libs/auth/tsconfig.lib.json
  libs/auth/tsconfig.spec.json
  nx.json
  tsconfig.base.json
Due: prettier --write, ./node_modules/.bin/eslint --ext .ts

app: include auth lib
  apps/social-posts-angular/tsconfig.app.json
Due: prettier --write

auth: create basic AuthService
  libs/auth/src/lib/service/auth.service.ts
Due: prettier --write, ./node_modules/.bin/eslint --ext .ts

auth: create AuthGuardService
  libs/auth/src/lib/service/auth-guard.service.ts
Due: prettier --write, ./node_modules/.bin/eslint --ext .ts

auth: create AuthComponent
  libs/auth/jest.config.js
  libs/auth/src/lib/components/auth.component.html
  libs/auth/src/lib/components/auth.component.scss
  libs/auth/src/lib/components/auth.component.spec.ts
  libs/auth/src/lib/components/auth.component.ts
  libs/auth/src/lib/components/index.ts
Due: prettier --write, ./node_modules/.bin/eslint --ext .ts, stylelint

auth: export component and services
  libs/auth/src/index.ts
  libs/auth/src/lib/auth.module.ts
  libs/auth/src/lib/service/index.ts
Due: prettier --write, ./node_modules/.bin/eslint --ext .ts

stats-shell: remove lib
  README.md
  angular.json
  karma.conf.js
  libs/stats-shell/.eslintrc.json
  libs/stats-shell/README.md
  libs/stats-shell/jest.config.js
  libs/stats-shell/src/assets/i18n/en-US.json
  libs/stats-shell/src/assets/i18n/pt-BR.json
  libs/stats-shell/src/index.ts
  libs/stats-shell/src/lib/components/index.ts
  libs/stats-shell/src/lib/components/page/index.ts
  libs/stats-shell/src/lib/components/page/page.component.html
  libs/stats-shell/src/lib/components/page/page.component.scss
  libs/stats-shell/src/lib/components/page/page.component.spec.ts
  libs/stats-shell/src/lib/components/page/page.component.ts
  libs/stats-shell/src/lib/routes/index.ts
  libs/stats-shell/src/lib/routes/stats-shell.routes.ts
  libs/stats-shell/src/lib/stats-shell.module.ts
  libs/stats-shell/src/test-setup.ts
  libs/stats-shell/tsconfig.json
  libs/stats-shell/tsconfig.lib.json
  libs/stats-shell/tsconfig.spec.json
  nx.json
  tsconfig.base.json
Due: prettier --write, ./node_modules/.bin/eslint --ext .ts, stylelint

app: add authentication page to app
  apps/social-posts-angular/src/app/app.component.html
  apps/social-posts-angular/src/app/app.component.spec.ts
  apps/social-posts-angular/src/app/app.component.ts
  apps/social-posts-angular/src/app/app.module.ts
  apps/social-posts-angular/src/app/router/app.routes.ts
  apps/social-posts-angular/src/assets/i18n/en-US.json
  apps/social-posts-angular/src/assets/i18n/pt-BR.json
Due: prettier --write, ./node_modules/.bin/eslint --ext .ts

auth: add data-test to auth component
  libs/auth/src/lib/components/auth.component.ts
Due: prettier --write, ./node_modules/.bin/eslint --ext .ts

e2e: check for auth component in home page
  apps/social-posts-angular-e2e/src/integration/app.spec.ts
  apps/social-posts-angular-e2e/src/support/app.po.ts
Due: prettier --write, ./node_modules/.bin/eslint --ext .ts
