Repository gus-c-oliveira/social-posts-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, stylelint

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint"
	],
	"*.scss": [
		"stylelint"
	]
}

user: crete components with dummy content for routing setup
  src/app/components/user/index.ts
  src/app/components/user/list/index.ts
  src/app/components/user/list/user-list.component.spec.ts
  src/app/components/user/list/user-list.component.ts
  src/app/components/user/post/index.ts
  src/app/components/user/post/user-post.component.spec.ts
  src/app/components/user/post/user-post.component.ts
  src/app/components/user/profile/index.ts
  src/app/components/user/profile/user-profile.component.spec.ts
  src/app/components/user/profile/user-profile.component.ts
  src/app/components/user/user.module.ts
  tsconfig.json
Due: prettier --write, tslint

router: create app routes and routing module
  src/app/router/app-routes.ts
  src/app/router/app-routing.module.ts
  src/app/router/index.ts
  tsconfig.json
Due: prettier --write, tslint

App: create links to access user components
  package.json
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.constants.ts
  src/app/app.module.ts
  src/index.html
Due: prettier --write, tslint

repository: install ngrx dependencies
  package-lock.json
  package.json
Due: prettier --write

user-store: create models and state
  src/app/store/user/index.ts
  src/app/store/user/user.model.ts
  src/app/store/user/user.state.ts
Due: prettier --write, tslint

app-store: create models and state
  src/app/store/app/app.state.ts
  src/app/store/app/index.ts
Due: prettier --write, tslint

user-store: create basic reducer
  src/app/store/user/index.ts
  src/app/store/user/user.reducer.spec.ts
  src/app/store/user/user.reducer.ts
Due: prettier --write, tslint

app-store: add app-store to App
  src/app/app.module.ts
  src/app/store/app/app.reducer.ts
  src/app/store/app/index.ts
  src/app/store/index.ts
  tsconfig.json
Due: prettier --write, tslint

user-service: create service to retrieve user data
  src/app/app.constants.ts
  src/app/app.module.ts
  src/app/service/index.ts
  src/app/service/user.mock.ts
  src/app/service/user.service.spec.ts
  src/app/service/user.service.ts
  tsconfig.json
Due: prettier --write, tslint

user-service: refactor import in user mock file
  src/app/service/user.mock.ts
Due: prettier --write, tslint

mocks: create mocks folder
  package.json
  src/app/mocks/index.ts
  src/app/mocks/user.mock.ts
  tsconfig.json
Due: prettier --write, tslint

user-service: update import for mock data
  src/app/service/user.service.spec.ts
Due: prettier --write, tslint

user-store: create User Actions
  src/app/store/user/user.actions.ts
Due: prettier --write, tslint

user-store: update reducer with new User Actions
  src/app/store/user/user.reducer.spec.ts
  src/app/store/user/user.reducer.ts
Due: prettier --write, tslint

user-service: create user service stub for tests
  src/app/service/index.ts
  src/app/service/user.service.stub.ts
Due: prettier --write, tslint

user-store: create user effects
  package-lock.json
  package.json
  src/app/store/user/index.ts
  src/app/store/user/user.effects.spec.ts
  src/app/store/user/user.effects.ts
Due: prettier --write, tslint

user-store: create USER_STATE_KEY constant
  src/app/store/app/app.state.ts
  src/app/store/user/user.state.ts
Due: prettier --write, tslint

user-store: create selectors
  src/app/store/user/user.selectors.spec.ts
  src/app/store/user/user.selectors.ts
Due: prettier --write, tslint

user-store: create action to set selected user id
  src/app/store/user/user.actions.ts
  src/app/store/user/user.reducer.spec.ts
  src/app/store/user/user.reducer.ts
Due: prettier --write, tslint

user-store: export user selectors
  src/app/store/user/index.ts
Due: prettier --write, tslint

user-store: update reducer test description
  src/app/store/user/user.reducer.spec.ts
Due: prettier --write, tslint

scss: set global styles
  src/index.html
  src/styles.scss
  src/styles/_base.scss
Due: prettier --write, stylelint

user-store: create interface and selector for SimpleUser objects
  src/app/store/user/user.model.ts
  src/app/store/user/user.selectors.ts
Due: prettier --write, tslint

ui: create spinner component
  src/app/components/ui/index.ts
  src/app/components/ui/spinner/index.ts
  src/app/components/ui/spinner/spinner.component.html
  src/app/components/ui/spinner/spinner.component.scss
  src/app/components/ui/spinner/spinner.component.spec.ts
  src/app/components/ui/spinner/spinner.component.ts
  src/app/components/ui/ui.module.ts
Due: prettier --write, tslint, stylelint

user-card: create user-card component
  src/app/components/user/card/index.ts
  src/app/components/user/card/user-card.component.html
  src/app/components/user/card/user-card.component.scss
  src/app/components/user/card/user-card.component.spec.ts
  src/app/components/user/card/user-card.component.ts
  src/app/components/user/user.module.ts
Due: prettier --write, tslint, stylelint

app: integrate user-effects into app
  src/app/app.module.ts
Due: prettier --write, tslint

app: style header and navigation links
  src/app/app.component.scss
Due: prettier --write, stylelint

user-list: display user cards in user-list
  package-lock.json
  package.json
  src/app/components/user/index.ts
  src/app/components/user/list/user-list.component.html
  src/app/components/user/list/user-list.component.scss
  src/app/components/user/list/user-list.component.spec.ts
  src/app/components/user/list/user-list.component.ts
  src/app/components/user/user.module.ts
  tsconfig.json
Due: prettier --write, tslint, stylelint

app: update testing module setup
  src/app/app.component.spec.ts
Due: prettier --write, tslint

user-card: emit user id when clicked
  src/app/components/user/card/user-card.component.html
  src/app/components/user/card/user-card.component.scss
  src/app/components/user/card/user-card.component.spec.ts
  src/app/components/user/card/user-card.component.ts
Due: prettier --write, tslint, stylelint

user-card: remove hard-coded css class from test
  src/app/components/user/card/user-card.component.html
  src/app/components/user/card/user-card.component.spec.ts
  src/app/components/user/card/user-card.component.ts
Due: prettier --write, tslint

user-post: export component path
  src/app/components/user/post/user-post.component.ts
Due: prettier --write, tslint

user-list: select user by clicking user-card
  src/app/components/user/list/user-list.component.html
  src/app/components/user/list/user-list.component.spec.ts
  src/app/components/user/list/user-list.component.ts
Due: prettier --write, tslint

user-list: remove hard-coded css class
  src/app/components/user/list/user-list.component.spec.ts
Due: prettier --write, tslint

router: import routes from user folder
  src/app/components/user/profile/user-profile.component.ts
  src/app/router/app-routes.ts
Due: prettier --write, tslint

user-card: replace strong for b tag
  src/app/components/user/card/user-card.component.html
Due: prettier --write

user-store: create selector to get selected user
  src/app/store/user/user.selectors.ts
Due: prettier --write, tslint

user-profile: display complete user info
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.scss
  src/app/components/user/profile/user-profile.component.spec.ts
  src/app/components/user/profile/user-profile.component.ts
Due: prettier --write, tslint, stylelint

post-store: create Post and PostState interfaces
  src/app/store/post/post.model.ts
  src/app/store/post/post.state.ts
Due: prettier --write, tslint

post-store: create Post actions and reducer
  src/app/mocks/post.mock.ts
  src/app/store/post/post.actions.ts
  src/app/store/post/post.reducer.spec.ts
  src/app/store/post/post.reducer.ts
  src/app/store/post/post.state.ts
Due: prettier --write, tslint
