Repository gus-c-oliveira/social-posts-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, stylelint

user-card: use testing utils functions in test
  src/app/components/user/card/user-card.component.spec.ts
Due: prettier --write, tslint

user-list: use testing utils functions in test
  src/app/components/user/list/user-list.component.spec.ts
Due: prettier --write, tslint

user-post: use testing utils functions in test
  src/app/components/user/post/user-post.component.spec.ts
Due: prettier --write, tslint

user-profile: use testing utils functions in test
  src/app/components/user/profile/user-profile.component.spec.ts
Due: prettier --write, tslint

service: refactor testing module setup
  src/app/service/data-request.service.spec.ts
Due: prettier --write, tslint

comment-store: refactor testing module setup
  src/app/store/comment/comment.effect.spec.ts
Due: prettier --write, tslint

post-store: refactor testing module setup
  src/app/store/post/post.effects.spec.ts
Due: prettier --write, tslint

user-store: refactor testing module setup
  src/app/store/user/user.effects.spec.ts
Due: prettier --write, tslint

App: scroll to top after navigating between pages
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: prettier --write, tslint

repository: install translation dependencies
  package-lock.json
  package.json
Due: prettier --write

App: setup translation module
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/assets/i18n/en.json
Due: prettier --write, tslint

jest: fix tests using window.scrollTo
  src/setup-jest.ts
Due: prettier --write, tslint

App: add translations app title and user list page
  src/app/app.component.ts
  src/app/app.constants.ts
Due: prettier --write, tslint

ui: implement translations for ui components
  src/app/components/ui/button/button.component.html
  src/app/components/ui/button/button.component.spec.ts
  src/app/components/ui/error/error.component.html
  src/app/components/ui/error/error.component.spec.ts
  src/app/components/ui/header/header.component.html
  src/app/components/ui/header/header.component.spec.ts
  src/app/components/ui/spinner/spinner.component.html
  src/app/components/ui/spinner/spinner.component.spec.ts
  src/app/components/ui/ui.module.ts
  src/assets/i18n/en.json
Due: prettier --write, tslint

user: add translations for user components
  src/app/components/user/card/user-card.component.html
  src/app/components/user/list/user-list.component.html
  src/app/components/user/post/user-post.component.html
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/user.module.ts
  src/assets/i18n/en.json
Due: prettier --write, tslint

i18n: add Brazilian Portuguese translation strings
  src/assets/i18n/pt-br.json
Due: prettier --write

user-profile: fix address header responsive width
  src/app/components/user/profile/user-profile.component.scss
Due: stylelint

i18n: rename English(USA) translation file
  src/assets/i18n/en-US.json
Due: prettier --write

user: add TranslateModule in test setup
  src/app/components/user/card/user-card.component.spec.ts
  src/app/components/user/list/user-list.component.spec.ts
  src/app/components/user/post/user-post.component.spec.ts
  src/app/components/user/profile/user-profile.component.spec.ts
Due: prettier --write, tslint

App: add browser language detection
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: prettier --write, tslint

language-selector: crate language-selector component
  src/app/app.component.html
  src/app/components/ui/index.ts
  src/app/components/ui/language-selector/index.ts
  src/app/components/ui/language-selector/language-selector.component.html
  src/app/components/ui/language-selector/language-selector.component.scss
  src/app/components/ui/language-selector/language-selector.component.spec.ts
  src/app/components/ui/language-selector/language-selector.component.ts
  src/app/components/ui/ui.module.ts
  src/assets/i18n/en-US.json
  src/assets/i18n/pt-br.json
  src/assets/img/en-US.svg
  src/assets/img/pt-BR.svg
Due: prettier --write, tslint, stylelint

README: add language section
  README.md
Due: prettier --write

i18n: rename Brazilian Portuguese translation file
  src/assets/i18n/pt-BR.json
Due: prettier --write

assets: reorganize assets/img folder
  src/app/components/ui/language-selector/language-selector.component.ts
  src/app/components/user/post/user-post.component.html
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.scss
  src/app/store/user/user.reducer.ts
  src/assets/img/flags/en-US.svg
  src/assets/img/flags/pt-BR.svg
  src/assets/img/icons/close.svg
  src/assets/img/user-profile/address-background.jpg
  src/assets/img/user-profile/company-illustration.jpg
  src/assets/img/user-profile/emoji-flirt.svg
  src/assets/img/user-profile/mail.svg
  src/assets/img/user-profile/network.svg
  src/assets/img/user-profile/phone.svg
  src/assets/img/user-profile/v-card.svg
Due: prettier --write, tslint, stylelint

testing: create testing folder and move test utils
  package.json
  src/app/app.component.spec.ts
  src/app/components/ui/button/button.component.spec.ts
  src/app/components/ui/error/error.component.spec.ts
  src/app/components/ui/header/header.component.spec.ts
  src/app/components/ui/language-selector/language-selector.component.spec.ts
  src/app/components/ui/spinner/spinner.component.spec.ts
  src/app/components/user/card/user-card.component.spec.ts
  src/app/components/user/list/user-list.component.spec.ts
  src/app/components/user/post/user-post.component.spec.ts
  src/app/components/user/profile/user-profile.component.spec.ts
  src/app/testing/index.ts
  src/app/testing/utils/index.ts
  src/app/testing/utils/testing.spec.ts
  src/app/testing/utils/testing.ts
  tsconfig.json
Due: prettier --write, tslint

testing: create ui stub components
  src/app/testing/components/index.ts
  src/app/testing/components/ui/button.component.stub.ts
  src/app/testing/components/ui/error.component.stub.ts
  src/app/testing/components/ui/header.component.stub.ts
  src/app/testing/components/ui/index.ts
  src/app/testing/components/ui/language-selector.component.stub.ts
  src/app/testing/components/ui/spinner.component.stub.ts
  src/app/testing/index.ts
Due: prettier --write, tslint

testing: create user stub components
  src/app/testing/components/user/index.ts
  src/app/testing/components/user/user-card.component.stub.ts
  src/app/testing/components/user/user-list.component.stub.ts
  src/app/testing/components/user/user-post.component.stub.ts
  src/app/testing/components/user/user-profile.component.stub.ts
Due: prettier --write, tslint

testing: create translate stub pipe
  src/app/testing/index.ts
  src/app/testing/pipes/index.ts
  src/app/testing/pipes/translate.pipe.stub.ts
Due: prettier --write, tslint

testing: create ui-testing and user-testing modules
  src/app/testing/components/ui/index.ts
  src/app/testing/components/ui/ui-testing.module.ts
  src/app/testing/components/user/index.ts
  src/app/testing/components/user/user-testing.module.ts
Due: prettier --write, tslint

button: refactor test using stub pipe
  src/app/components/ui/button/button.component.spec.ts
Due: prettier --write, tslint

error: refactor test using stubs
  src/app/components/ui/error/error.component.spec.ts
Due: prettier --write, tslint

header: refactor test using stubs
  src/app/components/ui/header/header.component.spec.ts
Due: prettier --write, tslint

spinner: refactor test using stubs
  src/app/components/ui/spinner/spinner.component.spec.ts
Due: prettier --write, tslint

testing: rename user testing module
  src/app/testing/components/user/user-testing.module.ts
Due: prettier --write, tslint

language-selectore: rename component selector
  src/app/components/ui/language-selector/language-selector.component.ts
Due: prettier --write, tslint

App: refactor test using stubs
  src/app/app.component.spec.ts
Due: prettier --write, tslint

user-card: refactor tests using stubs
  src/app/components/user/card/user-card.component.spec.ts
Due: prettier --write, tslint

user-list: refactor tests using stubs
  src/app/components/user/list/user-list.component.spec.ts
Due: prettier --write, tslint

user-post: refactor tests using stubs
  src/app/components/user/post/user-post.component.spec.ts
Due: prettier --write, tslint

testing: rename stub components
  src/app/app.component.spec.ts
  src/app/components/ui/error/error.component.spec.ts
  src/app/components/ui/header/header.component.spec.ts
  src/app/components/user/list/user-list.component.spec.ts
  src/app/components/user/post/user-post.component.spec.ts
  src/app/testing/components/ui/button.component.stub.ts
  src/app/testing/components/ui/error.component.stub.ts
  src/app/testing/components/ui/header.component.stub.ts
  src/app/testing/components/ui/language-selector.component.stub.ts
  src/app/testing/components/ui/spinner.component.stub.ts
  src/app/testing/components/ui/ui-testing.module.ts
  src/app/testing/components/user/user-card.component.stub.ts
  src/app/testing/components/user/user-list.component.stub.ts
  src/app/testing/components/user/user-post.component.stub.ts
  src/app/testing/components/user/user-profile.component.stub.ts
  src/app/testing/components/user/user-testing.module.ts
Due: prettier --write, tslint

Path conditions:
  prettier --write: any of: *.{ts,json,md,html}
  tslint: any of: *.ts
  stylelint: any of: *.scss
