Repository gus-c-oliveira/social-posts-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, stylelint

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint"
	],
	"*.scss": [
		"stylelint"
	]
}

user-store: reorder pictures to match user names
  src/app/store/user/user.reducer.ts
Due: prettier --write, tslint

header: add margin-bottom to header
  src/app/components/ui/header/header.component.scss
Due: prettier --write, stylelint

mocks: update user mocks
  src/app/components/user/profile/user-profile.component.spec.ts
  src/app/mocks/user.mock.ts
Due: prettier --write, tslint

user-card: implement new layout
  src/app/components/user/card/user-card.component.html
  src/app/components/user/card/user-card.component.scss
  src/app/components/user/card/user-card.component.spec.ts
  src/app/components/user/card/user-card.component.ts
  src/app/components/user/list/user-list.component.spec.ts
Due: prettier --write, tslint, stylelint

user-list: update layout for new cards
  src/app/components/user/list/user-list.component.scss
Due: prettier --write, stylelint

user-card: add alt to user card picture
  src/app/components/user/card/user-card.component.html
Due: prettier --write

App: change display of router-outlet
  src/app/app.component.scss
Due: prettier --write, stylelint

user-list: change styling of user-list background
  src/app/components/user/list/user-list.component.scss
Due: prettier --write, stylelint

header: remove margin-bottom
  src/app/components/ui/header/header.component.scss
Due: prettier --write, stylelint

user-card: change background color of user info
  src/app/components/user/card/user-card.component.scss
Due: prettier --write, stylelint

user-profile: implement banner section
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.scss
  src/app/components/user/profile/user-profile.component.spec.ts
Due: prettier --write, tslint, stylelint

config: remove scss files from prettier pre-commit write
  .lintstagedrc
Due: none

user-profile: implement general info section
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.scss
  src/app/components/user/profile/user-profile.component.spec.ts
  src/assets/img/mail.svg
  src/assets/img/network.svg
  src/assets/img/phone.svg
  src/assets/img/v-card.svg
Due: prettier --write, tslint, stylelint

user-profile: adjust picture format in banner
  src/app/components/user/profile/user-profile.component.scss
Due: prettier --write, stylelint

header: reduce title font weight
  src/app/components/ui/header/header.component.scss
Due: prettier --write, stylelint

user-profile: add section header
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.scss
Due: prettier --write, stylelint

user: rename observable initialization method
  src/app/components/user/list/user-list.component.ts
  src/app/components/user/profile/user-profile.component.ts
Due: prettier --write, tslint

user-profile: implement address section
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.scss
  src/app/components/user/profile/user-profile.component.spec.ts
  src/assets/img/address-background.jpg
Due: prettier --write, tslint, stylelint

user-profile: implement company section
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.scss
  src/app/components/user/profile/user-profile.component.spec.ts
  src/assets/img/company-illustration.jpg
Due: prettier --write, tslint, stylelint

user-profile: implement post section
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.scss
  src/app/components/user/profile/user-profile.component.spec.ts
Due: prettier --write, tslint, stylelint

user-profile: implement posts section
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.scss
Due: prettier --write, stylelint

user-post: implement user post layout
  src/app/components/user/post/user-post.component.html
  src/app/components/user/post/user-post.component.scss
  src/app/components/user/post/user-post.component.spec.ts
  src/app/components/user/post/user-post.component.ts
Due: prettier --write, tslint, stylelint

Update README.md
  README.md
Due: prettier --write

App: adjust height of main content area
  src/app/app.component.html
  src/app/app.component.scss
Due: prettier --write, stylelint

button: create button component
  src/app/components/ui/button/button.component.html
  src/app/components/ui/button/button.component.scss
  src/app/components/ui/button/button.component.spec.ts
  src/app/components/ui/button/button.component.ts
  src/app/components/ui/button/index.ts
  src/app/components/ui/index.ts
  src/app/components/ui/ui.module.ts
Due: prettier --write, tslint, stylelint

header: replace button tag with button component
  src/app/components/ui/header/header.component.html
  src/app/components/ui/header/header.component.scss
  src/app/components/ui/header/header.component.spec.ts
Due: prettier --write, tslint, stylelint

button: fix color of text and export
  src/app/components/ui/button/button.component.scss
  src/app/components/ui/ui.module.ts
Due: prettier --write, tslint, stylelint

error: create error component
  src/app/components/ui/error/error.component.html
  src/app/components/ui/error/error.component.scss
  src/app/components/ui/error/error.component.spec.ts
  src/app/components/ui/error/error.component.ts
  src/app/components/ui/error/index.ts
  src/app/components/ui/index.ts
  src/app/components/ui/ui.module.ts
Due: prettier --write, tslint, stylelint

user-list: implement function for retry loading user list
  src/app/components/user/list/user-list.component.html
  src/app/components/user/list/user-list.component.scss
  src/app/components/user/list/user-list.component.spec.ts
  src/app/components/user/list/user-list.component.ts
Due: prettier --write, tslint, stylelint

user-profile: simplify template removing async pipes
  src/app/components/user/profile/user-profile.component.html
Due: prettier --write

user-profile: adjust user-profile container layout
  src/app/components/user/profile/user-profile.component.scss
Due: prettier --write, stylelint

user-profile: implement function for retry loading user posts
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.scss
  src/app/components/user/profile/user-profile.component.spec.ts
  src/app/components/user/profile/user-profile.component.ts
Due: prettier --write, tslint, stylelint

user-post: implement function for retry loading post comments
  src/app/components/user/post/user-post.component.html
  src/app/components/user/post/user-post.component.scss
  src/app/components/user/post/user-post.component.spec.ts
  src/app/components/user/post/user-post.component.ts
Due: prettier --write, tslint, stylelint

user-post: simplify template removing async pipes
  src/app/components/user/post/user-post.component.html
Due: prettier --write

utils: create helper functions for tests
  package.json
  src/app/utils/index.ts
  src/app/utils/testing.spec.ts
  src/app/utils/testing.ts
  tsconfig.json
Due: prettier --write, tslint

App: use testing utils functions in test
  src/app/app.component.spec.ts
Due: prettier --write, tslint

button: use testing utils functions in test
  src/app/components/ui/button/button.component.spec.ts
Due: prettier --write, tslint

error: use testing utils functions in test
  src/app/components/ui/error/error.component.spec.ts
Due: prettier --write, tslint

header: use testing utils functions in test
  src/app/components/ui/header/header.component.spec.ts
Due: prettier --write, tslint

spinner: use testing utils functions in test
  src/app/components/ui/spinner/spinner.component.spec.ts
Due: prettier --write, tslint
