Repository gus-c-oliveira/social-posts-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, stylelint

.lintstagedrc:

{
	"*.{ts,json,md,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint"
	],
	"*.scss": [
		"stylelint"
	]
}

testing: remove unused stubs
  src/app/testing/components/ui/error.component.stub.ts
  src/app/testing/components/ui/header.component.stub.ts
  src/app/testing/components/ui/index.ts
  src/app/testing/components/ui/ui-testing.module.ts
  src/app/testing/components/user/index.ts
  src/app/testing/components/user/user-card.component.stub.ts
  src/app/testing/components/user/user-post.component.stub.ts
  src/app/testing/components/user/user-testing.module.ts
Due: prettier --write, tslint

Update README.md
  README.md
Due: prettier --write

repository: update dependencies
  package-lock.json
  package.json
Due: prettier --write

repository: update to Angular version 10
  .browserslistrc
  e2e/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

testing: create lib
  .vscode/extensions.json
  angular.json
  apps/social-posts-angular/src/app/app.component.spec.ts
  apps/social-posts-angular/src/app/components/ui/button/button.component.spec.ts
  apps/social-posts-angular/src/app/components/ui/error/error.component.spec.ts
  apps/social-posts-angular/src/app/components/ui/header/header.component.spec.ts
  apps/social-posts-angular/src/app/components/ui/language-selector/language-selector.component.spec.ts
  apps/social-posts-angular/src/app/components/ui/spinner/spinner.component.spec.ts
  apps/social-posts-angular/src/app/components/user/card/user-card.component.spec.ts
  apps/social-posts-angular/src/app/components/user/list/user-list.component.spec.ts
  apps/social-posts-angular/src/app/components/user/post/user-post.component.spec.ts
  apps/social-posts-angular/src/app/components/user/profile/user-profile.component.spec.ts
  apps/social-posts-angular/src/app/testing/index.ts
  jest.preset.js
  libs/testing/README.md
  libs/testing/jest.config.js
  libs/testing/src/index.ts
  libs/testing/src/lib/pipes/index.ts
  libs/testing/src/lib/pipes/translate.pipe.stub.ts
  libs/testing/src/lib/utils/index.ts
  libs/testing/src/lib/utils/testing.spec.ts
  libs/testing/src/lib/utils/testing.ts
  libs/testing/src/test-setup.ts
  libs/testing/tsconfig.json
  libs/testing/tsconfig.lib.json
  libs/testing/tsconfig.spec.json
  libs/testing/tslint.json
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write, tslint

app: update references to ui components
  apps/social-posts-angular/src/app/app.component.html
  apps/social-posts-angular/src/app/app.component.spec.ts
  apps/social-posts-angular/src/app/app.module.ts
  apps/social-posts-angular/src/app/components/user/list/user-list.component.html
  apps/social-posts-angular/src/app/components/user/list/user-list.component.spec.ts
  apps/social-posts-angular/src/app/components/user/post/user-post.component.html
  apps/social-posts-angular/src/app/components/user/post/user-post.component.scss
  apps/social-posts-angular/src/app/components/user/post/user-post.component.spec.ts
  apps/social-posts-angular/src/app/components/user/profile/user-profile.component.html
  apps/social-posts-angular/src/app/components/user/profile/user-profile.component.spec.ts
  apps/social-posts-angular/src/app/components/user/user.module.ts
  apps/social-posts-angular/src/app/testing/components/index.ts
Due: prettier --write, tslint, stylelint

e2e: update reference to ui component
  apps/social-posts-angular-e2e/src/app.po.ts
Due: prettier --write, tslint

repository: update stylelint script
  package.json
Due: prettier --write

user-store: create lib
  angular.json
  apps/social-posts-angular/src/app/store/user/index.ts
  libs/user-store/README.md
  libs/user-store/jest.config.js
  libs/user-store/src/index.ts
  libs/user-store/src/lib/actions/index.ts
  libs/user-store/src/lib/actions/user.actions.ts
  libs/user-store/src/lib/effects/index.ts
  libs/user-store/src/lib/effects/user.effects.spec.ts
  libs/user-store/src/lib/effects/user.effects.ts
  libs/user-store/src/lib/mocks/index.ts
  libs/user-store/src/lib/mocks/user.mock.ts
  libs/user-store/src/lib/model/index.ts
  libs/user-store/src/lib/model/user.model.ts
  libs/user-store/src/lib/reducer/index.ts
  libs/user-store/src/lib/reducer/user.reducer.spec.ts
  libs/user-store/src/lib/reducer/user.reducer.ts
  libs/user-store/src/lib/selectors/index.ts
  libs/user-store/src/lib/selectors/user.selectors.spec.ts
  libs/user-store/src/lib/selectors/user.selectors.ts
  libs/user-store/src/lib/service/index.ts
  libs/user-store/src/lib/service/user.service.spec.ts
  libs/user-store/src/lib/service/user.service.stub.ts
  libs/user-store/src/lib/service/user.service.ts
  libs/user-store/src/lib/state/index.ts
  libs/user-store/src/lib/state/user.state.ts
  libs/user-store/src/lib/token.ts
  libs/user-store/src/lib/user-store.module.ts
  libs/user-store/src/test-setup.ts
  libs/user-store/tsconfig.json
  libs/user-store/tsconfig.lib.json
  libs/user-store/tsconfig.spec.json
  libs/user-store/tslint.json
  nx.json
  tsconfig.base.json
Due: prettier --write, tslint

app: update references to user-store
  apps/social-posts-angular/src/app/app.module.ts
  apps/social-posts-angular/src/app/components/user/card/user-card.component.spec.ts
  apps/social-posts-angular/src/app/components/user/card/user-card.component.ts
  apps/social-posts-angular/src/app/components/user/list/user-list.component.spec.ts
  apps/social-posts-angular/src/app/components/user/list/user-list.component.ts
  apps/social-posts-angular/src/app/components/user/profile/user-profile.component.spec.ts
  apps/social-posts-angular/src/app/components/user/profile/user-profile.component.ts
  apps/social-posts-angular/src/app/mocks/index.ts
  apps/social-posts-angular/src/app/service/data-request.service.spec.ts
  apps/social-posts-angular/src/app/service/data-request.service.stub.ts
  apps/social-posts-angular/src/app/service/data-request.service.ts
  apps/social-posts-angular/src/app/store/app/app.reducer.ts
  apps/social-posts-angular/src/app/store/app/app.state.ts
  apps/social-posts-angular/src/app/store/index.ts
Due: prettier --write, tslint

post-store: create lib
  angular.json
  apps/social-posts-angular/src/app/store/post/index.ts
  libs/post-store/README.md
  libs/post-store/jest.config.js
  libs/post-store/src/index.ts
  libs/post-store/src/lib/actions/index.ts
  libs/post-store/src/lib/actions/post.actions.ts
  libs/post-store/src/lib/effects/index.ts
  libs/post-store/src/lib/effects/post.effects.spec.ts
  libs/post-store/src/lib/effects/post.effects.ts
  libs/post-store/src/lib/mocks/index.ts
  libs/post-store/src/lib/mocks/post.mock.ts
  libs/post-store/src/lib/model/index.ts
  libs/post-store/src/lib/model/post.model.ts
  libs/post-store/src/lib/post-store.module.ts
  libs/post-store/src/lib/reducer/index.ts
  libs/post-store/src/lib/reducer/post.reducer.spec.ts
  libs/post-store/src/lib/reducer/post.reducer.ts
  libs/post-store/src/lib/selectors/index.ts
  libs/post-store/src/lib/selectors/post.selectors.spec.ts
  libs/post-store/src/lib/selectors/post.selectors.ts
  libs/post-store/src/lib/service/index.ts
  libs/post-store/src/lib/service/post.service.spec.ts
  libs/post-store/src/lib/service/post.service.stub.ts
  libs/post-store/src/lib/service/post.service.ts
  libs/post-store/src/lib/state/index.ts
  libs/post-store/src/lib/state/post.state.ts
  libs/post-store/src/lib/token.ts
  libs/post-store/src/test-setup.ts
  libs/post-store/tsconfig.json
  libs/post-store/tsconfig.lib.json
  libs/post-store/tsconfig.spec.json
  libs/post-store/tslint.json
  nx.json
  tsconfig.base.json
Due: prettier --write, tslint

user-store: export service
  libs/user-store/src/index.ts
Due: prettier --write, tslint

app: update references to post-store
  apps/social-posts-angular/src/app/app.module.ts
  apps/social-posts-angular/src/app/components/user/list/user-list.component.ts
  apps/social-posts-angular/src/app/components/user/post/user-post.component.spec.ts
  apps/social-posts-angular/src/app/components/user/post/user-post.component.ts
  apps/social-posts-angular/src/app/components/user/profile/user-profile.component.spec.ts
  apps/social-posts-angular/src/app/components/user/profile/user-profile.component.ts
  apps/social-posts-angular/src/app/mocks/index.ts
  apps/social-posts-angular/src/app/service/data-request.service.spec.ts
  apps/social-posts-angular/src/app/service/data-request.service.stub.ts
  apps/social-posts-angular/src/app/service/data-request.service.ts
  apps/social-posts-angular/src/app/store/app/app.reducer.ts
  apps/social-posts-angular/src/app/store/app/app.state.ts
  apps/social-posts-angular/src/app/store/index.ts
Due: prettier --write, tslint

comment-store: create lib
  angular.json
  apps/social-posts-angular/src/app/service/index.ts
  apps/social-posts-angular/src/app/store/comment/index.ts
  libs/comment-store/README.md
  libs/comment-store/jest.config.js
  libs/comment-store/src/index.ts
  libs/comment-store/src/lib/actions/comment.actions.ts
  libs/comment-store/src/lib/actions/index.ts
  libs/comment-store/src/lib/comment-store.module.ts
  libs/comment-store/src/lib/effects/comment.effect.spec.ts
  libs/comment-store/src/lib/effects/comment.effects.ts
  libs/comment-store/src/lib/effects/index.ts
  libs/comment-store/src/lib/mocks/comment.mock.ts
  libs/comment-store/src/lib/mocks/index.ts
  libs/comment-store/src/lib/model/comment.model.ts
  libs/comment-store/src/lib/model/index.ts
  libs/comment-store/src/lib/reducer/comment.reducer.spec.ts
  libs/comment-store/src/lib/reducer/comment.reducer.ts
  libs/comment-store/src/lib/reducer/index.ts
  libs/comment-store/src/lib/selectors/comment.selectors.spec.ts
  libs/comment-store/src/lib/selectors/comment.selectors.ts
  libs/comment-store/src/lib/selectors/index.ts
  libs/comment-store/src/lib/service/comment.service.spec.ts
  libs/comment-store/src/lib/service/comment.service.stub.ts
  libs/comment-store/src/lib/service/comment.service.ts
  libs/comment-store/src/lib/service/index.ts
  libs/comment-store/src/lib/state/comment.state.ts
  libs/comment-store/src/lib/state/index.ts
  libs/comment-store/src/lib/token.ts
  libs/comment-store/src/test-setup.ts
  libs/comment-store/tsconfig.json
  libs/comment-store/tsconfig.lib.json
  libs/comment-store/tsconfig.spec.json
  libs/comment-store/tslint.json
  nx.json
  tsconfig.base.json
Due: prettier --write, tslint

app: update references to comment-store
  apps/social-posts-angular/src/app/app.module.ts
  apps/social-posts-angular/src/app/components/user/list/user-list.component.ts
  apps/social-posts-angular/src/app/components/user/post/user-post.component.spec.ts
  apps/social-posts-angular/src/app/components/user/post/user-post.component.ts
  apps/social-posts-angular/src/app/components/user/profile/user-profile.component.spec.ts
  apps/social-posts-angular/src/app/components/user/profile/user-profile.component.ts
  apps/social-posts-angular/src/app/store/app/app.reducer.ts
  apps/social-posts-angular/src/app/store/app/app.state.ts
  apps/social-posts-angular/src/app/store/app/index.ts
  apps/social-posts-angular/src/app/store/index.ts
Due: prettier --write, tslint

app: update references to user-shell
  apps/social-posts-angular/src/app/app.component.html
  apps/social-posts-angular/src/app/app.component.spec.ts
  apps/social-posts-angular/src/app/app.component.ts
  apps/social-posts-angular/src/app/app.module.ts
  apps/social-posts-angular/src/app/router/app-routes.ts
  apps/social-posts-angular/tsconfig.app.json
  libs/comment-store/src/lib/comment-store.module.ts
  libs/post-store/src/lib/post-store.module.ts
  libs/user-store/src/lib/user-store.module.ts
Due: prettier --write, tslint

e2e: migrate from protractor to cypress
  angular.json
  apps/social-posts-angular-e2e/cypress.json
  apps/social-posts-angular-e2e/protractor.conf.js
  apps/social-posts-angular-e2e/src/app.e2e-spec.ts
  apps/social-posts-angular-e2e/src/app.po.ts
  apps/social-posts-angular-e2e/src/fixtures/example.json
  apps/social-posts-angular-e2e/src/integration/app.spec.ts
  apps/social-posts-angular-e2e/src/plugins/index.js
  apps/social-posts-angular-e2e/src/support/app.po.ts
  apps/social-posts-angular-e2e/src/support/commands.ts
  apps/social-posts-angular-e2e/src/support/index.ts
  apps/social-posts-angular-e2e/tsconfig.e2e.json
  apps/social-posts-angular-e2e/tsconfig.json
  apps/social-posts-angular-e2e/tslint.json
  package-lock.json
  package.json
  tslint.json
Due: prettier --write, tslint

user-shell: new profile cover layout
  apps/social-posts-angular/src/assets/i18n/en-US.json
  apps/social-posts-angular/src/assets/i18n/pt-BR.json
  libs/user-shell/src/lib/components/profile/user-profile.component.html
  libs/user-shell/src/lib/components/profile/user-profile.component.scss
Due: prettier --write, stylelint

user-shell: add sidebar to profile page
  libs/user-shell/src/lib/components/profile/user-profile.component.html
  libs/user-shell/src/lib/components/profile/user-profile.component.scss
Due: prettier --write, stylelint

user-shell: add box-shadow to profile
  libs/user-shell/src/lib/components/profile/user-profile.component.scss
Due: stylelint

user-shell: new layout for profile general section
  apps/social-posts-angular/src/assets/i18n/en-US.json
  apps/social-posts-angular/src/assets/i18n/pt-BR.json
  libs/user-shell/src/lib/components/profile/user-profile.component.html
  libs/user-shell/src/lib/components/profile/user-profile.component.scss
Due: prettier --write, stylelint

user-shell: new layout for profile address section
  libs/user-shell/src/lib/components/profile/user-profile.component.scss
Due: stylelint

user-shell: new layout for profile company section
  apps/social-posts-angular/src/assets/i18n/en-US.json
  apps/social-posts-angular/src/assets/i18n/pt-BR.json
  libs/user-shell/src/lib/components/profile/user-profile.component.html
  libs/user-shell/src/lib/components/profile/user-profile.component.scss
Due: prettier --write, stylelint

post-store: add img to Post model
  libs/post-store/src/lib/mocks/post.mock.ts
  libs/post-store/src/lib/model/post.model.ts
  libs/post-store/src/lib/reducer/post.reducer.ts
  libs/user-shell/src/lib/components/post/user-post.component.html
  libs/user-shell/src/lib/components/post/user-post.component.ts
Due: prettier --write, tslint

user-shell: new layout for profile post section
  apps/social-posts-angular/src/assets/i18n/en-US.json
  apps/social-posts-angular/src/assets/i18n/pt-BR.json
  libs/user-shell/src/lib/components/profile/user-profile.component.html
  libs/user-shell/src/lib/components/profile/user-profile.component.scss
  libs/user-shell/src/lib/components/profile/user-profile.component.ts
Due: prettier --write, tslint, stylelint

user-shell: update profile responsive layout
  libs/user-shell/src/lib/components/profile/user-profile.component.scss
Due: stylelint

user-shell: update user-profile tests
  libs/user-shell/src/lib/components/profile/user-profile.component.spec.ts
Due: prettier --write, tslint

user-shell: new layout for post component
  libs/user-shell/src/lib/components/post/user-post.component.html
  libs/user-shell/src/lib/components/post/user-post.component.scss
  libs/user-shell/src/lib/components/post/user-post.component.ts
Due: prettier --write, tslint, stylelint

user-shell: update responsive layout for post component
  libs/user-shell/src/lib/components/post/user-post.component.scss
Due: stylelint

user-shell: update user-post tests
  libs/user-shell/src/lib/components/post/user-post.component.spec.ts
Due: prettier --write, tslint

app: add user prefix to user routes
  apps/social-posts-angular/src/app/router/app-routes.ts
Due: prettier --write, tslint

stats-shell: create lib
  angular.json
  libs/stats-shell/README.md
  libs/stats-shell/jest.config.js
  libs/stats-shell/src/index.ts
  libs/stats-shell/src/lib/stats-shell.module.ts
  libs/stats-shell/src/test-setup.ts
  libs/stats-shell/tsconfig.json
  libs/stats-shell/tsconfig.lib.json
  libs/stats-shell/tsconfig.spec.json
  libs/stats-shell/tslint.json
  nx.json
  tsconfig.base.json
Due: prettier --write, tslint

stats-shell: create stats-page component
  libs/stats-shell/src/lib/components/index.ts
  libs/stats-shell/src/lib/components/page/index.ts
  libs/stats-shell/src/lib/components/page/stats-page.component.html
  libs/stats-shell/src/lib/components/page/stats-page.component.scss
  libs/stats-shell/src/lib/components/page/stats-page.component.spec.ts
  libs/stats-shell/src/lib/components/page/stats-page.component.ts
  libs/stats-shell/src/lib/stats-shell.module.ts
Due: prettier --write, tslint, stylelint

stats-shell: create route for stats-page
  libs/stats-shell/src/index.ts
  libs/stats-shell/src/lib/routes/index.ts
  libs/stats-shell/src/lib/routes/stats-shell.routes.ts
  libs/stats-shell/src/lib/stats-shell.module.ts
Due: prettier --write, tslint

app: add route for stats-shell
  README.md
  apps/social-posts-angular/src/app/router/app-routes.ts
  apps/social-posts-angular/tsconfig.app.json
Due: prettier --write, tslint

user-shell: reorganize paths
  libs/user-shell/src/lib/components/list/user-list.component.ts
  libs/user-shell/src/lib/components/profile/user-profile.component.ts
  libs/user-shell/src/lib/routes/index.ts
  libs/user-shell/src/lib/routes/paths.ts
  libs/user-shell/src/lib/routes/user-shell.routes.ts
Due: prettier --write, tslint
