Repository gus-c-oliveira/social-posts-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, stylelint

.lintstagedrc:

{
	"*.{ts,json,md,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint"
	],
	"*.scss": [
		"stylelint"
	]
}

user-shell: display friend picture in comment
  libs/user-shell/src/lib/components/post/user-post.component.html
  libs/user-shell/src/lib/components/post/user-post.component.scss
Due: prettier --write, stylelint

user-shell: add guard for comment user-picture
  libs/user-shell/src/lib/components/post/user-post.component.html
Due: prettier --write

user-shell: create profile-guard service
  libs/user-shell/src/lib/routes/index.ts
  libs/user-shell/src/lib/routes/profile-guard.service.ts
  libs/user-shell/src/lib/user-shell.module.ts
Due: prettier --write, tslint

user-shell: prevent profile from loading with no user
  libs/user-shell/src/lib/routes/user-shell.routes.ts
Due: prettier --write, tslint

repository: update README file
  README.md
Due: prettier --write

repository: update nx to version 10.4.13
  decorate-angular-cli.js
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

repository: update nx and angular to version 11
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

repository: update nx to version 11.2.12
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

repository: migrate from tslint to eslint
  .eslintignore
  .eslintrc.json
  .lintstagedrc
  angular.json
  apps/social-posts-angular-e2e/.eslintrc.json
  apps/social-posts-angular-e2e/tslint.json
  apps/social-posts-angular/.eslintrc.json
  apps/social-posts-angular/tsconfig.spec.json
  libs/comment-store/.eslintrc.json
  libs/comment-store/tslint.json
  libs/language/.eslintrc.json
  libs/language/src/lib/translated-page/translated-page.ts
  libs/language/tslint.json
  libs/post-store/.eslintrc.json
  libs/post-store/tslint.json
  libs/stats-shell/.eslintrc.json
  libs/stats-shell/tslint.json
  libs/testing/.eslintrc.json
  libs/testing/tslint.json
  libs/ui/.eslintrc.json
  libs/ui/tslint.json
  libs/user-shell/.eslintrc.json
  libs/user-shell/tslint.json
  libs/user-store/.eslintrc.json
  libs/user-store/tslint.json
  package-lock.json
  package.json
  tslint.json
Due: prettier --write, tslint

repository: update cypress
  package.json
Due: prettier --write

repository: create tsconfig file
  tsconfig.json
Due: prettier --write

app: update code to eslint rules
  .eslintrc.json
  .lintstagedrc
  apps/social-posts-angular/src/app/app.component.ts
Due: prettier --write, tslint

comment-store: update code to eslint rules
  libs/comment-store/src/lib/comment-store.module.ts
  libs/comment-store/src/lib/effects/comment.effects.ts
  libs/comment-store/src/lib/mocks/comment.mock.ts
  libs/comment-store/src/lib/service/comment.service.stub.ts
Due: prettier --write, tslint

language: update code to eslint rules
  libs/language/.eslintrc.json
Due: prettier --write

repository: update lintstaged config
  .lintstagedrc
Due: none

post-store: update code to eslint rules
  libs/post-store/.eslintrc.json
  libs/post-store/src/lib/effects/post.effects.ts
  libs/post-store/src/lib/mocks/post.mock.ts
  libs/post-store/src/lib/post-store.module.ts
  libs/post-store/src/lib/reducer/post.reducer.ts
  libs/post-store/src/lib/service/post.service.stub.ts
Due: prettier --write, tslint

stats-shell: update code to eslint rules
  libs/stats-shell/src/lib/components/page/page.component.spec.ts
Due: prettier --write, tslint

testing: update code to eslint rules
  libs/testing/src/lib/utils/testing.spec.ts
Due: prettier --write, tslint

user-shell: update code to eslint rules
  libs/user-shell/.eslintrc.json
  libs/user-shell/src/lib/components/profile/user-profile.component.ts
  libs/user-shell/src/lib/routes/profile-guard.service.ts
  libs/user-shell/testing/src/user-list.component.stub.ts
  libs/user-shell/testing/src/user-profile.component.stub.ts
Due: prettier --write, tslint

user-store: update code to eslint rules
  libs/user-store/src/lib/effects/user.effects.ts
  libs/user-store/src/lib/reducer/user.reducer.ts
  libs/user-store/src/lib/user-store.module.ts
  libs/user-store/src/lib/utils/user-pictures.ts
Due: prettier --write, tslint

dependencies: replace ngx-take-until-destroy for until-destroy lib
  package-lock.json
  package.json
Due: prettier --write

app: update untilDestroyed
  apps/social-posts-angular/src/app/app.component.ts
Due: prettier --write, tslint

language: update untilDestroyed
  libs/language/src/lib/components/language-selector/language-selector.component.ts
  libs/language/src/lib/translated-page/translated-page.ts
Due: prettier --write, tslint

user-shell: update untilDestroyed
  libs/user-shell/src/lib/components/list/user-list.component.ts
  libs/user-shell/src/lib/components/post/user-post.component.ts
  libs/user-shell/src/lib/components/profile/user-profile.component.ts
Due: prettier --write, tslint

repository: fix tests for Node version 10
  jest.config.js
  libs/stats-shell/jest.config.js
  libs/testing/jest.config.js
  package-lock.json
  package.json
Due: prettier --write

e2e: create tests for initial screen
  apps/social-posts-angular-e2e/src/integration/app.spec.ts
  apps/social-posts-angular-e2e/src/support/app.po.ts
  package-lock.json
  package.json
Due: prettier --write, tslint

e2e: remove fixture examples
  apps/social-posts-angular-e2e/src/fixtures/example.json
Due: prettier --write

e2e: add tests for user-list page
  apps/social-posts-angular-e2e/src/integration/user-list.spec.ts
  apps/social-posts-angular-e2e/src/support/user-list.po.ts
Due: prettier --write, tslint

e2e: add tests for user profile page
  apps/social-posts-angular-e2e/src/integration/user-profile.spec.ts
  apps/social-posts-angular-e2e/src/support/user-profile.po.ts
Due: prettier --write, tslint

e2e: add tests foruser post
  apps/social-posts-angular-e2e/src/integration/user-post.spec.ts
  apps/social-posts-angular-e2e/src/support/user-post.po.ts
Due: prettier --write, tslint

repository: add @ngrx/entity as project dependency
  package-lock.json
  package.json
Due: prettier --write

user-store: update Actions
  libs/user-store/src/lib/actions/index.ts
  libs/user-store/src/lib/actions/user.actions.ts
Due: prettier --write, tslint

user-store: implement User extending SimpleUser
  libs/user-store/src/lib/model/user.model.ts
Due: prettier --write, tslint

user-store: implement UserState as an EntityState
  libs/user-store/src/lib/state/user.state.ts
Due: prettier --write, tslint

user-store: update Selectors
  libs/user-store/src/lib/selectors/user.selectors.spec.ts
  libs/user-store/src/lib/selectors/user.selectors.ts
Due: prettier --write, tslint

user-store: update Reducer
  libs/user-store/src/lib/reducer/user.reducer.spec.ts
  libs/user-store/src/lib/reducer/user.reducer.ts
Due: prettier --write, tslint

user-store: update Effects
  libs/user-store/src/lib/effects/user.effects.spec.ts
  libs/user-store/src/lib/effects/user.effects.ts
Due: prettier --write, tslint

user-store: export mapping functions
  libs/user-store/src/lib/reducer/user.reducer.spec.ts
  libs/user-store/src/lib/selectors/user.selectors.spec.ts
  libs/user-store/src/lib/utils/index.ts
  libs/user-store/src/lib/utils/mapping.ts
Due: prettier --write, tslint

user-shell: update actions in user-list
  libs/user-shell/src/lib/components/list/user-list.component.spec.ts
  libs/user-shell/src/lib/components/list/user-list.component.ts
Due: prettier --write, tslint
