Repository gus-c-oliveira/social-posts-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, stylelint

stats-shell: add translation for warning
  apps/social-posts-angular/src/assets/i18n/en-US.json
  apps/social-posts-angular/src/assets/i18n/pt-BR.json
  libs/stats-shell/src/lib/components/page/stats-page.component.html
  libs/stats-shell/src/lib/components/page/stats-page.component.scss
  libs/stats-shell/src/lib/stats-shell.module.ts
Due: prettier --write, tslint, stylelint

ui: update header to display multiple buttons
  libs/ui/src/lib/header/header.component.html
  libs/ui/src/lib/header/header.component.scss
  libs/ui/src/lib/header/header.component.spec.ts
  libs/ui/src/lib/header/header.component.ts
  libs/ui/src/lib/header/header.model.ts
  libs/ui/src/lib/header/index.ts
Due: prettier --write, tslint, stylelint

user-shell: remove header from user-page
  libs/user-shell/src/lib/components/page/page.component.html
  libs/user-shell/src/lib/components/page/page.component.spec.ts
  libs/user-shell/src/lib/components/page/page.component.ts
Due: prettier --write, tslint

user-shell: update user-list test
  libs/user-shell/src/lib/components/list/user-list.component.spec.ts
Due: prettier --write, tslint

app: rename routes file
  apps/social-posts-angular/src/app/router/app-routes.ts
  apps/social-posts-angular/src/app/router/app-routing.module.ts
  apps/social-posts-angular/src/app/router/app.routes.ts
  apps/social-posts-angular/src/app/router/index.ts
Due: prettier --write, tslint

app: navigate to areas using header buttons
  apps/social-posts-angular/src/app/app.component.html
  apps/social-posts-angular/src/app/app.component.spec.ts
  apps/social-posts-angular/src/app/app.component.ts
Due: prettier --write, tslint

user-shell: create translations for lib
  libs/user-shell/src/assets/i18n/en-US.json
  libs/user-shell/src/assets/i18n/pt-BR.json
  libs/user-shell/src/lib/components/page/page.component.spec.ts
  libs/user-shell/src/lib/components/page/page.component.ts
  libs/user-shell/src/lib/user-shell.module.ts
  tsconfig.base.json
Due: prettier --write, tslint

app: remove user translations
  apps/social-posts-angular/src/app/app.module.ts
  apps/social-posts-angular/src/assets/i18n/en-US.json
  apps/social-posts-angular/src/assets/i18n/pt-BR.json
Due: prettier --write, tslint

app: remove stats translations
  apps/social-posts-angular/src/assets/i18n/en-US.json
  apps/social-posts-angular/src/assets/i18n/pt-BR.json
Due: prettier --write

stats-shell: create translations for lib
  libs/stats-shell/src/assets/i18n/en-US.json
  libs/stats-shell/src/assets/i18n/pt-BR.json
  libs/stats-shell/src/lib/components/page/stats-page.component.spec.ts
  libs/stats-shell/src/lib/components/page/stats-page.component.ts
  libs/stats-shell/src/lib/stats-shell.module.ts
Due: prettier --write, tslint

language: create lib
  angular.json
  libs/language/README.md
  libs/language/jest.config.js
  libs/language/src/index.ts
  libs/language/src/lib/language.module.ts
  libs/language/src/test-setup.ts
  libs/language/tsconfig.json
  libs/language/tsconfig.lib.json
  libs/language/tsconfig.spec.json
  libs/language/tslint.json
  nx.json
  tsconfig.base.json
Due: prettier --write, tslint

language: create language Store
  libs/language/src/index.ts
  libs/language/src/lib/language.module.ts
  libs/language/src/lib/store/actions/index.ts
  libs/language/src/lib/store/actions/language.actions.ts
  libs/language/src/lib/store/index.ts
  libs/language/src/lib/store/reducer/index.ts
  libs/language/src/lib/store/reducer/language.reducer.spec.ts
  libs/language/src/lib/store/reducer/language.reducer.ts
  libs/language/src/lib/store/selectors/index.ts
  libs/language/src/lib/store/selectors/language.selectors.spec.ts
  libs/language/src/lib/store/selectors/language.selectors.ts
  libs/language/src/lib/store/state/index.ts
  libs/language/src/lib/store/state/language.state.ts
Due: prettier --write, tslint

ui: set language in language-selector using Store
  libs/ui/src/lib/language-selector/language-selector.component.spec.ts
  libs/ui/src/lib/language-selector/language-selector.component.ts
  libs/ui/src/lib/ui.module.ts
Due: prettier --write, tslint

stats-shell: change language using Store
  libs/stats-shell/src/lib/components/page/stats-page.component.spec.ts
  libs/stats-shell/src/lib/components/page/stats-page.component.ts
  libs/stats-shell/src/lib/stats-shell.module.ts
Due: prettier --write, tslint

user-shell: change language using Store
  libs/user-shell/src/lib/components/page/page.component.spec.ts
  libs/user-shell/src/lib/components/page/page.component.ts
  libs/user-shell/src/lib/user-shell.module.ts
Due: prettier --write, tslint

app: update testing module setup
  apps/social-posts-angular/src/app/app.component.spec.ts
Due: prettier --write, tslint

language: create LibTranslationLoader class
  libs/language/src/index.ts
  libs/language/src/lib/translation-loader/index.ts
  libs/language/src/lib/translation-loader/translation-loader.ts
Due: prettier --write, tslint

stats-shell: load translations using LibTranslationLoader
  libs/stats-shell/src/lib/stats-shell.module.ts
Due: prettier --write, tslint

user-shell: load translations using LibTranslationLoader
  libs/user-shell/src/lib/user-shell.module.ts
Due: prettier --write, tslint

language: create TranslatedPage class
  libs/language/src/index.ts
  libs/language/src/lib/translated-page/index.ts
  libs/language/src/lib/translated-page/translated-page.ts
Due: prettier --write, tslint

user-shell: implement UserPage using TranslatedPage
  libs/user-shell/src/lib/components/page/page.component.ts
Due: prettier --write, tslint

stats-shell: implement StatsPage using TranslatedPage
  libs/stats-shell/src/lib/components/page/index.ts
  libs/stats-shell/src/lib/components/page/page.component.html
  libs/stats-shell/src/lib/components/page/page.component.scss
  libs/stats-shell/src/lib/components/page/page.component.spec.ts
  libs/stats-shell/src/lib/components/page/page.component.ts
  libs/stats-shell/src/lib/components/page/stats-page.component.ts
Due: prettier --write, tslint, stylelint

language: create files for model and token
  libs/language/src/lib/translation-loader/index.ts
  libs/language/src/lib/translation-loader/token.ts
  libs/language/src/lib/translation-loader/translation-loader.ts
  libs/language/src/lib/translation-loader/translations.model.ts
Due: prettier --write, tslint

ui: remove LanguageSelector from lib
  libs/ui/src/index.ts
  libs/ui/src/lib/language-selector/index.ts
  libs/ui/src/lib/language-selector/language-selector.component.html
  libs/ui/src/lib/language-selector/language-selector.component.scss
  libs/ui/src/lib/language-selector/language-selector.component.spec.ts
  libs/ui/src/lib/language-selector/language-selector.component.ts
  libs/ui/src/lib/ui.module.ts
  libs/ui/testing/index.ts
  libs/ui/testing/src/language-selector.component.stub.ts
  libs/ui/testing/src/ui-testing.module.ts
Due: prettier --write, tslint, stylelint

language: move LanguageSelector to lib
  libs/language/src/index.ts
  libs/language/src/lib/components/index.ts
  libs/language/src/lib/components/language-selector/index.ts
  libs/language/src/lib/components/language-selector/language-selector.component.html
  libs/language/src/lib/components/language-selector/language-selector.component.scss
  libs/language/src/lib/components/language-selector/language-selector.component.spec.ts
  libs/language/src/lib/components/language-selector/language-selector.component.ts
  libs/language/src/lib/language.module.ts
  libs/language/testing/index.ts
  libs/language/testing/src/language-selector.component.stub.ts
  libs/language/testing/src/language-testing.module.ts
  tsconfig.base.json
Due: prettier --write, tslint, stylelint

app: import LanguageModule
  apps/social-posts-angular/src/app/app.module.ts
Due: prettier --write, tslint

app: update imports in test
  apps/social-posts-angular/src/app/app.component.spec.ts
Due: prettier --write, tslint

repository: update README file
  README.md
Due: prettier --write

app: remove error and spinner translations
  apps/social-posts-angular/src/assets/i18n/en-US.json
  apps/social-posts-angular/src/assets/i18n/pt-BR.json
Due: prettier --write

user: add error and spinner translations
  libs/user-shell/src/assets/i18n/en-US.json
  libs/user-shell/src/assets/i18n/pt-BR.json
Due: prettier --write

user-store: add friends to users
  libs/user-store/src/lib/model/user.model.ts
  libs/user-store/src/lib/reducer/user.reducer.ts
  libs/user-store/src/lib/utils/index.ts
  libs/user-store/src/lib/utils/user-friends.ts
  libs/user-store/src/lib/utils/user-pictures.ts
Due: prettier --write, tslint

user-store: create getUserByID selector
  libs/user-store/src/lib/selectors/user.selectors.ts
Due: prettier --write, tslint

user-shell: display friends in user-profile
  libs/user-shell/src/assets/i18n/en-US.json
  libs/user-shell/src/assets/i18n/pt-BR.json
  libs/user-shell/src/lib/components/profile/user-profile.component.html
  libs/user-shell/src/lib/components/profile/user-profile.component.scss
  libs/user-shell/src/lib/components/profile/user-profile.component.ts
Due: prettier --write, tslint, stylelint

user-shell: navigate to user profiles using friends list
  libs/user-shell/src/lib/components/profile/user-profile.component.html
  libs/user-shell/src/lib/components/profile/user-profile.component.ts
Due: prettier --write, tslint

repository: update README
  README.md
Due: prettier --write

user-store: update tests
  libs/user-store/src/lib/reducer/user.reducer.spec.ts
  libs/user-store/src/lib/selectors/user.selectors.spec.ts
Due: prettier --write, tslint

user-store: export utils functions
  libs/user-store/src/index.ts
Due: prettier --write, tslint

user-shell: update profile tests
  libs/user-shell/src/lib/components/profile/user-profile.component.spec.ts
Due: prettier --write, tslint

user-store: add friend array to User interface
  libs/user-store/src/lib/model/user.model.ts
  libs/user-store/src/lib/reducer/user.reducer.spec.ts
  libs/user-store/src/lib/reducer/user.reducer.ts
  libs/user-store/src/lib/utils/user-friends.ts
Due: prettier --write, tslint

user-shell: display friends directly from Store
  libs/user-shell/src/lib/components/profile/user-profile.component.html
  libs/user-shell/src/lib/components/profile/user-profile.component.ts
Due: prettier --write, tslint

Path conditions:
  prettier --write: any of: *.{ts,json,md,html}
  tslint: any of: *.ts
  stylelint: any of: *.scss
