Repository gus-c-oliveira/social-posts-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, stylelint

.lintstagedrc:

{
	"*.{ts,json,md,scss,html}": [
		"prettier --write",
		"git add"
	],
	"*.ts": [
		"tslint"
	],
	"*.scss": [
		"stylelint"
	]
}

post-store: add Post store to App State
  src/app/components/user/list/user-list.component.spec.ts
  src/app/mocks/index.ts
  src/app/store/app/app.reducer.ts
  src/app/store/app/app.state.ts
  src/app/store/index.ts
  src/app/store/post/index.ts
Due: prettier --write, tslint

service: move user service to its own folder
  src/app/service/user/index.ts
  src/app/service/user/user.service.spec.ts
  src/app/service/user/user.service.stub.ts
  src/app/service/user/user.service.ts
Due: prettier --write, tslint

service: create post service
  src/app/app.module.ts
  src/app/service/index.ts
  src/app/service/post/index.ts
  src/app/service/post/post.service.spec.ts
  src/app/service/post/post.service.stub.ts
  src/app/service/post/post.service.ts
Due: prettier --write, tslint

post-store: create post selectors
  src/app/store/post/post.selectors.spec.ts
  src/app/store/post/post.selectors.ts
Due: prettier --write, tslint

post-store: update LoadPosts action to have userId property
  src/app/store/post/post.actions.ts
  src/app/store/post/post.reducer.spec.ts
Due: prettier --write, tslint

post-store: create post effects
  src/app/app.module.ts
  src/app/store/post/index.ts
  src/app/store/post/post.effects.spec.ts
  src/app/store/post/post.effects.ts
Due: prettier --write, tslint

service: fix post service test
  src/app/mocks/index.ts
  src/app/service/post/post.service.spec.ts
Due: prettier --write, tslint

user-profile: display user's posts in profile
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.scss
  src/app/components/user/profile/user-profile.component.spec.ts
  src/app/components/user/profile/user-profile.component.ts
Due: prettier --write, tslint, stylelint

app: update test setup
  src/app/app.component.spec.ts
Due: prettier --write, tslint

comment-store: create models and state interface
  src/app/store/comment/comment.model.ts
  src/app/store/comment/comment.state.ts
  src/app/store/comment/index.ts
  src/app/store/index.ts
Due: prettier --write, tslint

comment-store: create selectors
  src/app/store/comment/comment.selectors.spec.ts
  src/app/store/comment/comment.selectors.ts
  src/app/store/comment/index.ts
Due: prettier --write, tslint

comment-store: create actions and reducer
  src/app/mocks/comment.mock.ts
  src/app/mocks/index.ts
  src/app/store/app/app.reducer.ts
  src/app/store/app/app.state.ts
  src/app/store/comment/comment.actions.ts
  src/app/store/comment/comment.reducer.spec.ts
  src/app/store/comment/comment.reducer.ts
  src/app/store/comment/index.ts
Due: prettier --write, tslint

service: create comment service
  src/app/service/comment/comment.service.spec.ts
  src/app/service/comment/comment.service.stub.ts
  src/app/service/comment/comment.service.ts
  src/app/service/comment/index.ts
  src/app/service/index.ts
Due: prettier --write, tslint

comment-store: create comment effects
  src/app/app.module.ts
  src/app/store/comment/comment.effect.spec.ts
  src/app/store/comment/comment.effects.ts
  src/app/store/comment/index.ts
Due: prettier --write, tslint

user-list: update testing module setup
  src/app/components/user/list/user-list.component.spec.ts
Due: prettier --write, tslint

user-profile: navigate to user-post after clicking on post
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.spec.ts
  src/app/components/user/profile/user-profile.component.ts
Due: prettier --write, tslint

user-profile: avoid triggering redundant post requests
  src/app/components/user/profile/user-profile.component.ts
Due: prettier --write, tslint

App: update testing module setup
  src/app/app.component.spec.ts
Due: prettier --write, tslint

user-post: display selected post and comments
  src/app/components/user/post/user-post.component.html
  src/app/components/user/post/user-post.component.scss
  src/app/components/user/post/user-post.component.spec.ts
  src/app/components/user/post/user-post.component.ts
Due: prettier --write, tslint, stylelint

service: create data-request service
  src/app/app.module.ts
  src/app/service/data-request.service.spec.ts
  src/app/service/data-request.service.stub.ts
  src/app/service/data-request.service.ts
  src/app/service/index.ts
Due: prettier --write, tslint

service: remove user, post and comment services
  src/app/app.component.spec.ts
  src/app/app.module.ts
  src/app/service/comment/comment.service.spec.ts
  src/app/service/comment/comment.service.stub.ts
  src/app/service/comment/comment.service.ts
  src/app/service/comment/index.ts
  src/app/service/data-request.service.stub.ts
  src/app/service/index.ts
  src/app/service/post/index.ts
  src/app/service/post/post.service.spec.ts
  src/app/service/post/post.service.stub.ts
  src/app/service/post/post.service.ts
  src/app/service/user/index.ts
  src/app/service/user/user.service.spec.ts
  src/app/service/user/user.service.stub.ts
  src/app/service/user/user.service.ts
  src/app/store/comment/comment.effect.spec.ts
  src/app/store/comment/comment.effects.ts
  src/app/store/post/post.effects.spec.ts
  src/app/store/post/post.effects.ts
  src/app/store/user/user.effects.spec.ts
  src/app/store/user/user.effects.ts
Due: prettier --write, tslint

post-store: create clear posts action
  src/app/store/post/post.actions.ts
  src/app/store/post/post.reducer.spec.ts
  src/app/store/post/post.reducer.ts
Due: prettier --write, tslint

comment-store: create clear comments action
  src/app/store/comment/comment.actions.ts
  src/app/store/comment/comment.reducer.spec.ts
  src/app/store/comment/comment.reducer.ts
Due: prettier --write, tslint

user-store: create clear selected user id action
  src/app/store/user/user.actions.ts
  src/app/store/user/user.reducer.spec.ts
  src/app/store/user/user.reducer.ts
Due: prettier --write, tslint

post-store: create clear selected post id action
  src/app/store/post/post.actions.ts
  src/app/store/post/post.reducer.spec.ts
  src/app/store/post/post.reducer.ts
Due: prettier --write, tslint

user-post: clear comments from store when leaving post
  src/app/components/user/post/user-post.component.ts
Due: prettier --write, tslint

user-profile: simplify methods
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.ts
Due: prettier --write, tslint

user-list: clear previous user posts and id from store
  src/app/components/user/list/user-list.component.html
  src/app/components/user/list/user-list.component.spec.ts
  src/app/components/user/list/user-list.component.ts
Due: prettier --write, tslint

user-list: rename store variable
  src/app/components/user/list/user-list.component.ts
Due: prettier --write, tslint

user-profile: add loading posts and error states
  src/app/components/user/profile/user-profile.component.html
  src/app/components/user/profile/user-profile.component.scss
  src/app/components/user/profile/user-profile.component.spec.ts
  src/app/components/user/profile/user-profile.component.ts
Due: prettier --write, tslint, stylelint

user-post: create loading comments and error state
  src/app/components/user/post/user-post.component.html
  src/app/components/user/post/user-post.component.scss
  src/app/components/user/post/user-post.component.spec.ts
  src/app/components/user/post/user-post.component.ts
Due: prettier --write, tslint, stylelint

user-post: prepare component for display in modal
  package-lock.json
  package.json
  src/app/components/user/post/user-post.component.html
  src/app/components/user/post/user-post.component.scss
  src/app/components/user/post/user-post.component.spec.ts
  src/app/components/user/post/user-post.component.ts
  src/app/components/user/user.module.ts
  src/assets/img/close.svg
Due: prettier --write, tslint, stylelint

user-profile: display post in modal
  src/app/components/user/profile/user-profile.component.spec.ts
  src/app/components/user/profile/user-profile.component.ts
  src/styles.scss
Due: prettier --write, tslint, stylelint

router: remove route to UserPostComponent
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/components/user/post/user-post.component.ts
  src/app/router/app-routes.ts
Due: prettier --write, tslint

scss: define color pallete
  src/styles.scss
  src/styles/_colors.scss
Due: prettier --write, stylelint

spinner: change spinner color
  src/app/components/ui/spinner/spinner.component.scss
Due: prettier --write, stylelint

header: create header component
  src/app/components/ui/header/header.component.html
  src/app/components/ui/header/header.component.scss
  src/app/components/ui/header/header.component.spec.ts
  src/app/components/ui/header/header.component.ts
  src/app/components/ui/header/index.ts
  src/app/components/ui/index.ts
  src/app/components/ui/ui.module.ts
  src/styles/_base.scss
  src/styles/_colors.scss
Due: prettier --write, tslint, stylelint

App: add header to AppComponent
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
Due: prettier --write, tslint, stylelint

header: change button style
  src/app/components/ui/header/header.component.scss
  src/styles/_colors.scss
Due: prettier --write, stylelint

user-store: add pictureURL to User interface
  src/app/store/user/user.model.ts
  src/app/store/user/user.reducer.spec.ts
  src/app/store/user/user.reducer.ts
  src/app/store/user/user.selectors.ts
  src/assets/img/emoji-flirt.svg
Due: prettier --write, tslint
